doctype
ng-container(
  *ngIf = '( modal$ | async ) as modal'
  )
  section.modal(
    *ngIf = 'modal.display',
    @opacity
    )
    ui-popup.blur(
      [data] = 'modal',
      (event) = 'onPopup($event)'
    )
